@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.carousel-open:checked + .carousel-item {
		position: static;
		opacity: 100;
	}
	.carousel-item {
		-webkit-transition: opacity 0.6s ease-out;
		transition: opacity 0.6s ease-out;
	}
	#carousel-1:checked ~ .control-1,
	#carousel-2:checked ~ .control-2,
	#carousel-3:checked ~ .control-3 {
		display: block;
	}
	.carousel-indicators {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 2%;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 10;
	}
	#carousel-1:checked
		~ .control-1
		~ .carousel-indicators
		li:nth-child(1)
		.carousel-bullet,
	#carousel-2:checked
		~ .control-2
		~ .carousel-indicators
		li:nth-child(2)
		.carousel-bullet,
	#carousel-3:checked
		~ .control-3
		~ .carousel-indicators
		li:nth-child(3)
		.carousel-bullet {
		color: #e5e7eb;
	}
	.bg-dark {
		background-color: #212529;
		&:hover {
			background-color: darken(#212529, 10%);
		}
	}
	.bg-openMW {
		background-color: #ebebeb;
	}
	.bg-main-openMW {
		background-color: #c8b9a2;
	}
	.bg-highlight-openMW {
		background-color: #48361d;
	}
	.link-openMW {
		color: #cd3700;
		text-decoration: none;
		&:hover {
			color: #eb3f00;
		}
	}
}

.tab-content {
	max-height: 0;
	-webkit-transition: max-height .35s;
	-o-transition: max-height .35s;
	transition: max-height .35s;
}
.tab input:checked ~ .tab-content {
	max-height: 100vh;
}
.tabset > input[type="radio"] {
	display: none;
}
.tabset .tab-panel {
	display: none;
	border-top: 1px solid #fff;
}
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
	display: block;
}
.tabset > label {
	position: relative;
	display: inline-block;
	padding: 1em;
	cursor: pointer;
	color: #fff;
}
.tabset > input:checked + label {
	background-color: #fff;
	color: #000;
}

.topic {
	overflow: hidden;
}
.topic:target {
	max-height: 100%;
	transition: 0.5s all linear;
}

body {
	background: #c8b9a2;
}

.bg-dark {
	background-color: #212529;
	&:hover {
		background-color: darken(#212529, 10%);
	}
}
.bg-openMW {
	background-color: #ebebeb;
}
.bg-main-openMW {
	background-color: #c8b9a2;
}
.bg-highlight-openMW {
	background-color: #48361d;
}
.link-openMW {
	color: #cd3700;
	text-decoration: none;
	&:hover {
		color: #eb3f00;
	}
}

.btn {
	@apply inline-block text-lg mx-1 my-1 select-none cursor-pointer;
	&:focus {
		@apply outline-none;
	}
	&:hover {
		@apply no-underline;
	}
	&.btn-md {
		@apply px-3 py-2 text-sm;
	}
	&.btn-sm {
		@apply px-2 py-1 text-xs;
	}
	&.btn-lg {
		@apply px-6 py-3 text-lg;
	}
	&.btn-block {
		@apply w-full px-6 py-3;
		&.btn-download {
			@apply text-white bg-green-500;
			&:hover {
				@apply bg-green-600;
			}
		}
		&.btn-outline-dark {
			@apply text-gray-900 bg-transparent border border-solid border-gray-900;
			&:hover {
				@apply text-white bg-gray-900;
			}
		}
		&.btn-openMW {
			color: #fff;
			background-color: #48361d;
			&:hover {
				background-color: #654b28;
			}
		}
		&.btn-outline-openMW {
			color: #48361d;
			background-color: transparent;
			border: 1px solid #48361d;
			&:hover {
				color: #fff;
				background-color: #48361d;
			}
		}
	}
	&.btn-dark {
		@apply text-white bg-gray-900;
		&:hover {
			@apply bg-gray-800;
		}
	}
	&.btn-openMW {
		@apply px-6 py-3;
		color: #fff;
		background-color: #48361d;
		&:hover {
			background-color: #654b28;
		}
	}
	&.btn-outline-openMW {
		color: #48361d;
		background-color: transparent;
		border: 1px solid #48361d;
		&:hover {
			color: #fff;
			background-color: #48361d;
		}
	}
}

.btn-brand {
	@apply inline-block text-gray-900 text-base select-none cursor-pointer m-1 p-4;
	&.btn-discord {
		&:hover {
			@apply text-indigo-600;
		}
	}
	&.btn-forum {
		&:hover {
			@apply text-gray-600;
		}
	}
	&.btn-gitlab {
		&:hover {
			@apply text-orange-600;
		}
	}
	&.btn-kiwi {
		&:hover {
			@apply text-green-600;
		}
	}
	&.btn-reddit {
		&:hover {
			@apply text-red-600;
		}
	}
	&.btn-twitter {
		&:hover {
			@apply text-blue-600;
		}
	}
}