{{ define "main" }}
  <div class="grid grid-cols-1 gap-3">
    <section class="col-span-full flex justify-center items-center shadow-md bg-openMW h-auto border border-openMW_dark-500">
      <div class="w-full p-6">
        <p><b>OpenMW</b> is a free, open source, and modern engine which re-implements and extends the 2002 Gamebryo engine for the open-world role-playing game <a href="https://www.uesp.net/wiki/Morrowind:Morrowind" target="_blank" class="link-openMW"><i>The Elder Scrolls III: Morrowind</i></a>. Like the Construction Set for the original <i>Morrowind</i> engine, OpenMW comes with its own editor, called <b>OpenMW-CS</b>, which allows the user to edit or create their own mods or original games. Both OpenMW and OpenMW-CS are written from scratch, and aren't made to support any third party programs that have been added to the original Morrowind engine to improve its functionality.</p>
        <br>
        <p>OpenMW is not a "mod" to <i>Morrowind</i>. It is an entirely different game engine that does not use the original Morrowind.exe in any way.</p>
        <a href="{{ .Permalink | absLangURL }}faq" class="btn btn-md btn-openMW float-right mt-3">More Info</a>
      </div>
    </section>
    <section class="col-span-full hidden md:flex md:justify-center md:items-center h-96 border border-openMW_dark-500">
      <img src="https://innovativestudios.gitlab.io/openmw-hugo/banner.jpg" alt="..." class="object-cover shadow-md h-full w-full">
    </section>
    <section class="col-span-full h-auto">
      <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-3">
        <article class="col-span-full md:col-span-full lg:col-span-1 flex justify-center items-center shadow-md h-96 bg-openMW border border-openMW_dark-500">
          <div class="text-center h-64 w-full px-6">
            <h2 class="text-2xl">Step 1</h2>
            <p class="text-lg my-3">Download the Latest Version for Your Operating System.</p>
            <ul class="w-full">
              <li><a href="https://github.com/OpenMW/openmw/releases/download/openmw-0.47.0/openmw-0.47.0-Linux-64Bit.tar.gz" target="_blank" class="btn btn-block btn-outline-openMW"><i class="fad fa-download mr-2"></i> Linux</a></li>
              <li><a href="https://github.com/OpenMW/openmw/releases/download/openmw-0.47.0/OpenMW-0.47.0.dmg" target="_blank" class="btn btn-block btn-outline-openMW"><i class="fad fa-download mr-2"></i> MacOS</a></li>
              <li><a href="https://github.com/OpenMW/openmw/releases/download/openmw-0.47.0/OpenMW-0.47.0-win64.exe" target="_blank" class="btn btn-block btn-outline-openMW"><i class="fad fa-download mr-2"></i> Windows</a></li>
            </ul>
          </div>
        </article>
        <article class="col-span-full md:col-span-full lg:col-span-1 flex justify-center items-center shadow-md h-96 bg-openMW border border-openMW_dark-500">
          <div class="text-center h-64 w-full px-6">
            <h2 class="text-2xl">Step 2</h2>
            <p class="text-lg my-3">Run the Install Package Once Downloaded.<br>Are You Having Trouble?</p>
            <a href="https://openmw.readthedocs.io/en/latest/manuals/installation/index.html" target="_blank" class="mx-auto btn btn-lg btn-outline-openMW">Click Here</a>
          </div>
        </article>
        <article class="col-span-full md:col-span-full lg:col-span-1 flex justify-center items-center shadow-md h-96 bg-openMW border border-openMW_dark-500">
          <div class="text-center h-64 w-full px-6">
            <h2 class="text-2xl">Step 3</h2>
            <p class="text-lg my-3">It's Now Installed!<br>Would You Like to Learn More?</p>
            <ul class="w-full">
              <li><a href="{{ .Permalink | absLangURL }}faq" class="btn btn-block btn-outline-openMW">FAQ</a></li>
              <li><a href="https://wiki.openmw.org/" target="_blank" class="btn btn-block btn-outline-openMW">Wiki</a></li>
            </ul>
          </div>
        </article>
      </div>
    </section>
    <!-- <section class="col-span-full h-auto">
      {{- partial "faq.html" . -}}
    </section> -->
    <section class="col-span-full h-auto">
      <article class="flex justify-center items-center shadow-md bg-openMW h-auto border border-openMW_dark-500">
        <div class="text-center h-auto w-full p-6">
          <h2 class="text-2xl mb-3">Community</h2>
          <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-4 gap-3">
            <article class="col-span-full md:col-span-full lg:col-span-full">
              <div class="flex justify-center items-center h-auto w-full">
                <a href="https://discord.gg/YegsVV3aRb" target="_blank" class="btn-brand hover:text-openMW-600"><i class="fab fa-discord fa-2x"></i></a>
                <a href="https://forum.openmw.org/" target="_blank" class="btn-brand hover:text-openMW-600"><i class="fad fa-bars fa-2x"></i></a>
                <a href="https://gitlab.com/OpenMW/openmw/issues" target="_blank" class="btn-brand hover:text-openMW-600"><i class="fab fa-gitlab fa-2x"></i></a>
                <a href="https://kiwiirc.com/nextclient/irc.libera.chat:6697/#openmw" target="_blank" class="btn-brand hover:text-openMW-600"><i class="fad fa-lemon fa-2x"></i></a>
                <a href="https://reddit.com/r/OpenMW" target="_blank" class="btn-brand hover:text-openMW-600"><i class="fab fa-reddit fa-2x"></i></a>
                <a href="https://twitter.com/OpenMW_org" target="_blank" class="btn-brand hover:text-openMW-600"><i class="fab fa-twitter fa-2x"></i></a>
              </div>
            </article>
          </div>
        </div>
      </article>
    </section>
  </div>
{{ end }}
