{{ define "main" }}
<section class="col-span-full md:col-span-full lg:col-span-full">
  <article class="max-w-full shadow-md bg-openMW border border-openMW_dark-500 p-6">
    {{ $type := .Type }}
    {{ $.Scratch.Set "count" 1 }}

      {{ range (.Site.RegularPages.GroupByDate "2006") }}
        {{ if and (gt .Key 1) (gt (where .Pages "Type" $type) 0) }}

          {{ range (where .Pages "Type" $type) }}
            {{ if (eq ($.Scratch.Get "count") 1) }}
              {{ $.Scratch.Set "count" 0 }}
              <h1 class="text-gray-900 text-xl font-medium">{{ .Date.Format "2006" }}</h1>
            {{ end }}
          {{ end }}

          {{ $.Scratch.Set "count" 1 }}

            <ul class="list-none">
            {{ range (where .Pages "Type" $type) }}
              {{ if (ne .Params.hidden true) }}
                <li>
                  <span class="text-gray-900 uppercase">{{ .Date.Format "02 JAN" }}</span>
                  - <a class="link-openMW" href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
              {{ end }}
            {{ end }}
            </ul>

      {{ end }}
    {{ end }}
  </article>
</section>
{{ end }}