{{ if .IsTranslated }}
<li class="group relative dropdown tracking-wide mr-6 z-10">
	<a class="block hover:text-openMW-600 lg:inline-block lg:mt-0 mt-3" href="">{{ .Language.LanguageName }} <i class="fad fa-chevron-down"></i></a>
	<div class="group-hover:block dropdown-menu absolute hidden h-auto">
		<ul class="top-0 w-60 text-gray-900 bg-white shadow-md">
			{{ range .Translations }}
			<li class="hover:bg-gray-100 py-1">
				<a class="block hover:text-openMW-600 px-4 py-2" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
			</li>
			{{ end }}
		</ul>
	</div>
</li>
{{ end }}