<div class="carousel relative shadow-md bg-white hidden lg:block z-0">
	<div class="carousel-inner relative overflow-hidden w-full">
	<!--Slide 1-->
		<input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
		<div class="carousel-item absolute opacity-0" style="height:85vh;">
			<img src="./morrowind-hd-1.jpg" alt="..." class="block h-full w-full">
		</div>
		<label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-black hover:text-gray-400 text-center z-0 inset-y-0 left-0 my-auto"><i class="fad fa-less-than fa-lg"></i></label>
		<label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-black hover:text-gray-400 text-center z-0 inset-y-0 right-0 my-auto"><i class="fad fa-greater-than fa-lg"></i></label>

		<!--Slide 2-->
		<input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item absolute opacity-0" style="height:85vh;">
			<img src="./morrowind-hd-2.jpg" alt="..." class="block h-full w-full">
		</div>
		<label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-black hover:text-gray-400 text-center z-0 inset-y-0 left-0 my-auto"><i class="fad fa-less-than fa-lg"></i></label>
		<label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-black hover:text-gray-400 text-center z-0 inset-y-0 right-0 my-auto"><i class="fad fa-greater-than fa-lg"></i></label>

		<!--Slide 3-->
		<input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item absolute opacity-0" style="height:85vh;">
			<img src="./morrowind-hd-3.jpg" alt="..." class="block h-full w-full">
		</div>
		<label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-black hover:text-gray-400 text-center z-0 inset-y-0 left-0 my-auto"><i class="fad fa-less-than fa-lg"></i></label>
		<label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-black hover:text-gray-400 text-center z-0 inset-y-0 right-0 my-auto"><i class="fad fa-greater-than fa-lg"></i></label>

		<!-- Add additional indicators for each slide-->
		<ol class="carousel-indicators">
			<li class="inline-block mr-3">
				<label for="carousel-1" class="carousel-bullet cursor-pointer block text-black hover:text-gray-400"><i class="fad fa-horizontal-rule fa-2x"></i></label>
			</li>
			<li class="inline-block mr-3">
				<label for="carousel-2" class="carousel-bullet cursor-pointer block text-black hover:text-gray-400"><i class="fad fa-horizontal-rule fa-2x"></i></label>
			</li>
			<li class="inline-block mr-3">
				<label for="carousel-3" class="carousel-bullet cursor-pointer block text-black hover:text-gray-400"><i class="fad fa-horizontal-rule fa-2x"></i></label>
			</li>
		</ol>
	</div>
</div>