<article class="shadow-md bg-dark">
	<div class="tabset">
		<!-- Tab 1 -->
		<input type="radio" name="tabset" id="tab1" aria-controls="general" checked>
		<label for="tab1">General</label>
		<!-- Tab 2 -->
		<input type="radio" name="tabset" id="tab2" aria-controls="installation">
		<label for="tab2">Installation</label>
		<!-- Tab 3 -->
		<input type="radio" name="tabset" id="tab3" aria-controls="project">
		<label for="tab3">Project</label>
		<!-- Tab 4 -->
		<input type="radio" name="tabset" id="tab4" aria-controls="technical">
		<label for="tab4">Technical</label>

		<div class="tab-panels bg-white">
			<section id="general" class="tab-panel">
				{{ range .Site.Data.faqs1 }}
				<div class="w-full">
					<div class="w-full max-h-12 border-b border-gray-100 topic" id="{{ .id }}">
						<a class="block relative w-full h-full no-underline text-gray-100 bg-dark p-3" href="#{{ .id }}">
							<span class="flex justify-between align-middle">{{ .question | safeHTML }} <i class="fad fa-chevron-down pt-1"></i></span>
						</a>
						<article class="container w-full max-w-full p-6 prose prose-a:no-underline prose-a:font-normal prose-a:text-blue-500 hover:prose-a:text-blue-600">{{ .answer | safeHTML }}</article>
					</div>
				</div>
				{{ end }}
			</section>
			<section id="installation" class="tab-panel">
				{{ range .Site.Data.faqs2 }}
				<div class="w-full">
					<div class="w-full max-h-12 border-b border-gray-100 topic" id="{{ .id }}">
						<a class="block relative w-full h-full no-underline text-gray-100 bg-dark p-3" href="#{{ .id }}">
							<span class="flex justify-between align-middle">{{ .question | safeHTML }} <i class="fad fa-chevron-down pt-1"></i></span>
						</a>
						<article class="container w-full max-w-full p-6 prose prose-a:no-underline prose-a:font-normal prose-a:text-blue-500 hover:prose-a:text-blue-600">{{ .answer | safeHTML }}</article>
					</div>
				</div>
				{{ end }}
			</section>
			<section id="project" class="tab-panel">
				{{ range .Site.Data.faqs3 }}
				<div class="w-full">
					<div class="w-full max-h-12 border-b border-gray-100 topic" id="{{ .id }}">
						<a class="block relative w-full h-full no-underline text-gray-100 bg-dark p-3" href="#{{ .id }}">
							<span class="flex justify-between align-middle">{{ .question | safeHTML }} <i class="fad fa-chevron-down pt-1"></i></span>
						</a>
						<article class="container w-full max-w-full p-6 prose prose-a:no-underline prose-a:font-normal prose-a:text-blue-500 hover:prose-a:text-blue-600">{{ .answer | safeHTML }}</article>
					</div>
				</div>
				{{ end }}
			</section>
			<section id="technical" class="tab-panel">
				{{ range .Site.Data.faqs4 }}
				<div class="w-full">
					<div class="w-full max-h-12 border-b border-gray-100 topic" id="{{ .id }}">
						<a class="block relative w-full h-full no-underline text-gray-100 bg-dark p-3" href="#{{ .id }}">
							<span class="flex justify-between align-middle">{{ .question | safeHTML }} <i class="fad fa-chevron-down pt-1"></i></span>
						</a>
						<article class="container w-full max-w-full p-6 prose prose-a:no-underline prose-a:font-normal prose-a:text-blue-500 hover:prose-a:text-blue-600">{{ .answer | safeHTML }}</article>
					</div>
				</div>
				{{ end }}
			</section>
		</div>
	</div>
</article>