<div class="container px-5 my-3 mx-auto" id="footer">
  <footer class="text-gray-600 body-font bg-dark shadow-md">
    <div class="bg-dark">
      <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
        <p class="text-sm text-gray-500 sm:mt-0 mt-4">&copy; 2008 - {{ now.Year }} OpenMW. All rights reserved. Powered by Hugo.
          | Hugo Theme by <a href="#" target="_blank" rel="noopener noreferrer" class="text-sm text-gray-500 hover:text-openMW-600 ml-1">JSchmidt</a>
          | Website Logo by <a href="#" target="_blank" rel="noopener noreferrer" class="text-sm text-gray-500 hover:text-openMW-600 ml-1">Necrod</a>
        </p>
      </div>
    </div>
  </footer>
</div>