<header class="shadow-md border border-openMW_dark-500 mb-3">
	<div class="relative">
		<img src="https://innovativestudios.gitlab.io/openmw-hugo/header.jpg" alt="..." class="h-full w-full object-center">
		{{- partial "navbar.html" . -}}
	</div>
</header>