<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.Description }}{{ . }}{{ end }}{{ end }}{{ end }}">

{{ $style0 := resources.Get "/css/frontend.css" | postCSS }}
{{ $style1 := resources.Get "/css/all.css" }}
{{ $icon := resources.Get "/favicon.ico" }}

{{ if .Site.IsServer }}
	<link rel="stylesheet" href="{{ $style0.RelPermalink }}" />
	<link rel="stylesheet" href="{{ $style1.RelPermalink }}" />
	<link rel="shortcut icon" href="{{ $icon.RelPermalink }}" />

{{ else }}
	{{ $style0 := $style0 | minify | fingerprint | resources.PostProcess }}
	{{ $style1 := $style1 | minify | fingerprint | resources.PostProcess }}
	<link rel="stylesheet" href="{{ $style0.RelPermalink }}" integrity="{{ $style0.Data.Integrity }}" />
	<link rel="stylesheet" href="{{ $style1.RelPermalink }}" integrity="{{ $style1.Data.Integrity }}" />
	<link rel="shortcut icon" href="{{ $icon.RelPermalink }}" integrity="{{ $icon.Data.Integrity }}" />
{{ end }}