{{ if and ( gt .WordCount 400 ) ( .Params.toc ) }}
<article class="container w-full md:max-w-3xl mx-auto shadow-md bg-openMW mb-3">
	<div class="text-gray-100 bg-dark w-100">
		<div class="text-xl p-2">Table of Contents</div>
	</div>
	<div class="prose prose-a:no-underline prose-a:font-normal prose-a:text-gray-900 hover:prose-a:text-gray-800 text-sm p-4">
		{{ .TableOfContents }}
	</div>
</article>
{{ end }}